target
.idea
.idea_modules
.bloop
.metals/
metals.sbt
metals/project/
.vscode/
.bsp
/.classpath
/.project
/.settings
/RUNNING_PID
/out/
*.iws
*.iml
/db
.eclipse
/lib/
/logs/
/modules
tmp/
test-result
server.pid
*.eml
/dist/
.cache
/reference
local.conf
/logs
/data/dictionary
/data/lucene
/data/lucene-stable
/data/krdict
publish.sbt
/wordplay/build
Playground.scala
