#app {
    font-size: 2rem;
    text-align: center;
}

input {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    outline: none;
}

#input-cell {
    background-color: #fffdf0;
}

#input {
    width: 10rem;
    height: 10rem;
    font-size: 5rem;
    line-height: 5rem;
    margin: 0;
    text-align: center;
    color: #000;
    border: none;
}

#kanji-grid {
    margin: 1rem auto;
    border: none;
    font-size: 5rem;
    line-height: 5rem;
    text-align: center;
    border-collapse: collapse;
}

.kanji-cell {
    border: 2px solid #000;
    padding: 0;
    width: 10rem;
    height: 10rem;
}

#quiz-selection {
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap;
    margin: 0 1rem;
}

#quiz-selection .quiz-number {
    background-color: #d9d6bb;
    border: 2px solid #bebc9f;
    padding: 0.5rem 0.5rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin: 0.2rem;
    transition-duration: 0.3s;
    cursor: pointer;
}

#quiz-selection .quiz-number:hover {
    background-color: #e6da7d;
}

#quiz-selection .quiz-number:active {
    background-color: #bfbc99;
}

#quiz-selection .quiz-number.selected {
    background-color: #a4d2ff;
    border: 2px solid #7cb1e2;
}

#quiz-selection .quiz-header {
    font-size: 1.5rem;
    margin-top: 0.3rem;
}

#quiz-selection .show-answer {
    background-color: #e8b59d;
    border: 2px solid #dba48b;
    padding: 0.15rem 0.5rem;
    font-size: 1.5rem;
    margin: 0 0.2rem;
    transition-duration: 0.3s;
    cursor: pointer;
}

#quiz-selection .show-answer:hover {
    background-color: #ff9c6c;
}

#quiz-selection .show-answer:active {
    background-color: #bf917e;
}

#input-cell.correct, #input.correct {
    background-color: #bcff98;
}

#input-cell.incorrect, #input.incorrect {
    background-color: #ff9898;
}

#quiz-message.correct {
    color: #439d11;
}

#quiz-message.incorrect {
    color: #cd2121;
}

@media screen and (max-width: 64em) {
    #app {
        font-size: 1.75rem;
    }

    .kanji-cell {
        width: 5rem;
        height: 5rem;
    }

    #kanji-grid {
        font-size: 3rem;
        line-height: 3rem;
    }

    #input {
        width: 5rem;
        height: 5rem;
        font-size: 3rem;
        line-height: 3rem;
    }

}
